html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Epilogue", sans-serif;
    background-color: #F5E6C8;
}

.container {
    margin: auto;
    max-width: 1600px;
}

.container-hero {
    margin: auto;
    max-width: 1905px;
}

.container-collection {
    margin: auto;
    max-width: 1200px;
}

.container-footer {
    margin: auto;
    max-width: 2000px;
}

header {
    background-color: rgb(50, 48, 48);
    color: #F5E6C8;
}

footer {
    color: #4E342E;
}

nav a  {
    text-decoration: none;
    padding-right: 10px;
    display: inline-block;
    transition: transform 0.2s ease;
}

nav a:hover {
    transform: translateY(-10px);
}
.btn {
    padding: 20px;
    border-radius: 10px;
    color: #4E342E;
    background-color: #EDE6DB;
    font-family: "Epilogue", sans-serif;
    font-weight: bold;
    font-size: 17px;
}

#a {
    padding: 0;
}

.d-flex {
    display: flex;
}

.j-content {
    justify-content: space-around;
    align-items: center;
}

#img {
    width: 100px;
    height: 100px;
}

.img {
    width: 200px;
    height: 200px;
    margin-top: 25px;
    margin-left: 7px;
    border-radius: 20px;
}

.footerNav {
    color: #462720;
}

.center {
    justify-content: center;
}

.cards {
    background-color: #4E342E;
    color: #F5E6C8;
    width: 20em;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 7px 5px 5px #462720;
}

#section-hero {
    background-image: url("assets/un-delicieux-dessert-sur-la-table.jpg");
    width: 2000px;
    height: 1000px;
    background-position: 40%;
}

.flex {
    flex-flow: column wrap;
}

.align-items {
    align-self: center;
}

.text-align {
    text-align: center;
}

.card {
    background-color: #4E342E;
    color: #F5E6C8;
    width: 20em;
    min-height: 400px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 7px 5px 5px #462720;
}

.marginHero {
    margin-top: 300px;
    font-size: 27px;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 20px;
}

.section-margin {
    margin: 100px;
    font-size: 20px;
    color: #4E342E;
}

.marginHero {
    color: #4E342E;
}

.margin-left {
    margin-left: 70px;
}

#marginHr {
    margin-top: 20px;
}

.font-header {
    color: #F5E6C8;
}

.font-footer {
    color: #462720;
}

.end {
    justify-content: end;
}

.text-deco {
    text-decoration: underline;
}